<div class="row">
    <div *ngIf="(student$ | async) as student" class="col-6 offset-3">
        <form #editForm="ngForm" (ngSubmit)="onUpdate(editForm, student)">
            <div *ngFor="let field of fields" class="form-group">
                <label>
                    {{ field.title }}
                </label>
                <input [(ngModel)]="student[field.key]" [name]="field.key" [pattern]="field.pattern || '.*'"
                    [type]="field.type" class="form-control">
            </div>
            <button [disabled]="editForm.invalid || updating" type="submit" class="btn btn-primary btn-block btn-lg">
                <i *ngIf="!updating" class="fa fa-save"></i>
                <i *ngIf="updating" class="fa fa-refresh"></i>
            </button>
        </form>
    </div>
</div>